.spriteYoutube {
	background: url('../images/spritesheet.png') no-repeat -123px 0;
	background-size: 152px 20px;
	width: 29px;
	height: 20px;
}
.spriteInstagram {
	background: url('../images/spritesheet.png') no-repeat -102px 0;
	background-size: 152px 20px;
	width: 21px;
	height: 20px;
}
.spriteFacebook {
	background: url('../images/spritesheet.png') no-repeat -91px 0;
	background-size: 152px 20px;
	width: 10px;
	height: 20px;
}
.spriteTwitter {
	background: url('../images/spritesheet.png') no-repeat -65px 0;
	background-size: 152px 20px;
	width: 25px;
	height: 20px;
}
.spriteGrid {
	background: url('../images/spritesheet.png') no-repeat -44px 0;
	background-size: 152px 20px;
	width: 20px;
	height: 20px;
}
.spriteRows {
	background: url('../images/spritesheet.png') no-repeat -23px 0;
	background-size: 152px 20px;
	width: 20px;
	height: 20px;
}
.spriteCart {
	background: url('../images/spritesheet.png') no-repeat 0 0;
	background-size: 152px 20px;
	width: 23px;
	height: 20px;
}