<!doctype html>
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
    {{> head }}
</head>
<body>
    {{> accountBar }}
    <div class="page-wrap">
        {{> header }}
        {{> breadcrumbs }}
        <div id="content" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar" role="complementary">
                        {{> left }}
                    </div>
                    <div class="main" role="main">
                        {{> mainContent }}
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    {{> scripts}}
</body>
</html>