<footer id="footer" class="footer" role="contentinfo">
	<div  class="topFooter">
		<div class="col1">
			<h4>About Us</h4>
			<a href="#">Our Story</a>
			<a href="#">Offers</a>
			<a href="#">Blog</a>
		</div>
		<div class="col2">
			<h4>Help</h4>
			<a href="#">Contact Us</a>
			<a href="#">Shipping Info</a>
			<a href="#">Privacy Policy</a>
			<a href="#">Sitemap</a>
		</div>
		<div class="col3">
			<h4>Connect</h4>
		</div>
		<div class="col4">
			<h4>Newsletter Signup</h4>
			<input type="text" id="newsletterInput" name="newsletter" placeholder="Enter Email">
			<button id="newsletterButton">Sign Up</button>
		</div>
	</div>
    <div class="bottomFooter">

        <p class="copyright">
            Copyright &copy; 2017 Gorilla
        </p>
        <address>
            111 W Jackson Blvd # 300, Chicago, IL 60604
        </address>
        <a href="#account-bar" id="backToTop" class="scroll" data-speed="400" href="#top">Back to top</a>
    </div>
</footer>