---
component: footer
---
<footer id="footer" class="footer" role="contentinfo">
    <div class="container-fluid">
        <p class="copyright">
            {{site.copyright}}
        </p>
        <address>
            {{site.address}}
        </address>
    </div>
</footer>