---
component: header
---

<header id="masthead" class="masthead" role="banner">
    <div class="container-fluid">
        <h1 class="logo">
	        <a href="/">
                <img src="{{assets}}/images/logo.gif" alt="{{site.title}}" />
            </a>
        </h1>
	    <nav role="navigation">
	    </nav>
    </div>
</header>
