<header id="masthead" class="masthead" role="banner">
    <div class="container-fluid">
        <h1 class="logo">
	        <a href="/">
                <img src="assets/images/logo.gif" alt="{{site.title}}" />
            </a>
        </h1>
	    <nav role="navigation">
	    	<a href="#">Browse</a>
	    	<a href="#">About</a>
	    	<a href="#">Contact Us</a>
	    </nav>
	    <input id="searchInput" type="text" name="search" placeholder="Search">
    </div>
</header>
