////
/// @author Brian L. Ellis
/// @group Components
////

/// @name Catalog Breadcrumbs
//// #breadcrumbs
#breadcrumbs {
	font-size: $font-size-sm;
	padding-left: 115px;
	.crumb { 
		margin-right: 10px;
		&::after {
		    content: "/";
		    margin-left: 10px;
		} 
	}
	.lastCrumb { color: $c-gray; }
}