////
/// @author Brian L. Ellis
/// @group Components
////

/// @name Catalog Category Grid Dropdowns
//// .select__box
.select__ {
   &box { position: relative; display: inline-block; }
   &toolbox {
      cursor: pointer;
      padding: .25em .5em;
      border-radius: 5px;
      border: 1px solid $c-black;
   }
   &label {
      height: 25px;
      line-height: 25px;
      margin-right: 45px
   }
   &arrow {
      position: absolute;
      font-style: normal;
      cursor: pointer;
      right: 0;
      bottom: 0;
      text-align: center;
      width: 30px;
      border-radius: 0 5px 5px 0;
      color: #2d2d2d;
      border-left: 1px solid $c-black;
      height: 100%;
      &:before {
         content: '›';
         transform: rotate(90deg);
         font-size: $font-size-xxl;
         position: relative;
         margin: -1px 0 0 10px;
         float: left
      }
   }
   &dropdown {
      position: absolute;
      min-width: 100%;
      border-radius: 5px;
      border: 1px solid $c-black;
      transition: all .3s;
      background: $c-black;
      color: $c-gray;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      .select__query {
         width: calc(100% - 12px);
         padding: 8px;
         margin: 6px;
         border-radius: 5px;
         background: $c-gray;
         border: 1px solid $c-black
      }
      .select__query_noresult {
         padding: 0 10px 10px;
         display: block;
         font-size: $font-size;
         color: #666
      }
      .select__list {
         width: 100%;
         padding-left: 0;
         list-style: none;
         overflow-y: auto;
         .select__item {
            cursor: pointer;
            padding: .5em;
            &:hover { background: #397271 }
            .select__item_icon {
               display: inline-block;
               margin-right: .25em
            }
            .select__item_text {
               font-size: $font-size;
               font-weight: $font-weight-light;
               letter-spacing: 1.2px
            }
            .select__item--selected { background: #46b6b4 }
         }
      }
   }
   &dropdown--show { visibility: visible; opacity: 1 }
}