#footer {
	background-color: $c-charcoal;
	h4 { color: $c-orange; margin: 0; margin-bottom: 20px; }
	a {
		display: block;
		color: $c-gray;
		text-decoration: none;
		font-weight: $font-weight-feather;
		font-size: $font-size;
		line-height: 1.75;
    }
    .topFooter { 
		padding: 60px 0;
		div { 
			width: 25.66%; 
			display: inline-block; 
			margin: 0;
			height: 160px;
			float: left;
			&:last-child { display: inline-block; float: none; width: 23% }
		}
		#newsletterInput {
			background: transparent;
		    margin-top: 20px;
		    width: 100%;
		    box-sizing: border-box;
		    border: 1px solid $c-white;
		    border-radius: $border-rad;
		    font-size: $font-size-m;
		    color: $c-white;
		    background-position: 240px 10px; 
		    background-repeat: no-repeat;
		    padding: 15px 20px 15px 15px;
		    font-weight: $font-weight-light;
		}
		#newsletterButton {
			background-color: $c-orange;
			border: 0;
			color: $c-white;
			font-weight: $font-weight-light;
			text-align: center;
			width: 100%;
			line-height: 50px;
			margin-top: 20px;
		}
		.social { 
			float: left; 
			margin-right: 3%; 
			opacity: 0.5; 
			background-size: 270px 20px; 
		}

	}
	.bottomFooter {
		padding: 45px 0;
		border-top: 1px solid #363636; 
		margin-top: 30px;
		*, address { 
			color: $c-gray;
			font-style: initial;
			font-weight: $font-weight-light;
			text-decoration: none;
			font-size: $font-size-sm;
		}
		.copyright, address { width: 33.33%; display: inline-block; margin: 0 }
		#backToTop { 
			float: right;
			position: relative; 
			&::after { 
				position: absolute; content:'';
				background: url(../images/spritesheet.png) no-repeat -312px -1px;
				background-size: 375px 33px;
			    width: 28px;
			    height: 56px;
			    right: -90px;
			    margin-top: -5px;
			}
		}
	}
}