div[class^="rating"] {
  width: 90px;
  overflow: hidden;
  position: absolute;
  margin-top: -33px;
  &::after {
     content: "\2605 \2605 \2605 \2605 \2605";
     color: $c-black;
     font-size: $font-size-xl;
  }
}

.product {
  .rateOverlay {
    &::after {
       content: "\2605 \2605 \2605 \2605 \2605";
       color: $c-gray;
       font-size: $font-size-xl;
    }
  }
  .rating1 { width: 25px }
  .rating15 { width: 36px }
  .rating2 { width: 49px }
  .rating25 { width: 60px }
  .rating3 { width: 74px }
  .rating35 { width: 84px }
  .rating4 { width: 96px }
  .rating45 { width: 108px }
  .rating5 { width: 116px }
}