div[class^="rating"] {
  width: 90px;
  overflow: hidden;
  position: absolute;
  margin-top: -33px;
  &::after {
     content: "\2605 \2605 \2605 \2605 \2605";
     color: $c-black;
     font-size: $font-size-xl;
  }
}

.product {
  .rateOverlay {
    &::after {
       content: "\2605 \2605 \2605 \2605 \2605";
       color: $c-gray;
       font-size: $font-size-xl;
    }
  }
  .rating1 { width: 18px }
  .rating15 { width: 27px }
  .rating2 { width: 36px }
  .rating25 { width: 45px }
  .rating3 { width: 54px }
  .rating35 { width: 63px }
  .rating4 { width: 72px }
  .rating45 { width: 81px }
  .rating5 { width: 90px }
}