#gridViewSel {
	list-style: none;
	margin-right: 25px;
	margin-top: 5px;
	float: left;
	padding: 0;
	li { 
		float: left; 
		margin-right: 10px;
		&.selected { opacity: 0.2 } 
	}
}
#positionDropdown,
#viewDropdown,
#gridViewAmount { display: inline-block; }

#positionDropdown{
	margin-right: 35px;
	&::before { content: 'Sort'; margin-right: 10px }
}
#viewDropdown {
	margin-right: 10px;
	&::before { content: 'Show'; margin-right: 10px }
}

#gridViewAmount { font-weight: $font-weight-feather; font-size: $font-size }

#gridPageCount {
	float: right;
	&::before { 
		content: '';
		float: left;
		transform: rotate(180deg);
		margin-right: 20px;
		opacity: 0.3;
	}
	&::after { 
		content: '';
		float: right;
		margin-left: 20px;
	}
}